# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.local

# Build outputs
build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Large binaries
minio/minio.exe
minio/*.exe

# Docker volumes
mongo_data/
minio_data/
